body {
    padding: 0.5em;
    background-color: #feecec;
    font-family: 'Verdana', Arial, sans-serif;
}

main {
    padding-top: 1em;
}

.container-fluid {
    max-width: 1200px;
}

header, footer {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    background-color: rgba(50, 167, 222, 0.205);
    padding: 1em;
    border-radius: 5px;
}

.navbar-toggler {
    position: absolute;
    top: 0px;
    right: 0px;
}

.nav-item {
    padding-left: 1em;
    padding-right: 1em;
}

.nav-link {
    color: rgb(44, 103, 57);
}

.active {
    /* color: rgb(44, 103, 57); */
    text-decoration: underline;
    /* font-weight: bold; */
}

h2, h3, h4, h5, h6 {
    /* color: rgb(89, 77, 223); */
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

p a {
    color: rgb(27, 135, 229);
    text-decoration: underline;
}

a:hover {
    color: inherit;
}

p a:hover {
    color: rgb(28, 186, 62);
}

.carousel {
    border-radius: 5px;
    overflow: hidden;
}

.bold-center {
    /* padding-top: 2em; */
    font-weight: bold;
    text-align: center;
}

.buttonpic {
    border: solid 3px white;
    background-color: rgb(44, 103, 57);
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 1em;
    margin: 0.5em;
    cursor: pointer;
    outline-offset: 2px;
  }

  .buttonpic:hover {
    color: rgb(44, 103, 57);
    background-color: white;
  }

.dropdown-item.active, .dropdown-item:active {
    background-color: rgb(44, 103, 57);
}

.section {
    padding-top: 1em;
}

.emphasis {
    font-weight: bold;
}

.resized {
    max-width: 800px;
}

.card {
    background-color: rgba(44, 103, 57, 0.056);
}

.card:hover {
    background-color: rgba(28, 186, 62, 0.353);
}

.contact.card:hover {
    background-color: rgba(44, 103, 57, 0.056);
}

.contact img {
    border-radius: 50%;
    max-width: 250px;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.underlay {
    position: relative;
    max-width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    left: 0;
    right: 0;
}

